<!DOCTYPE html>
<html>
<head>
    <title>Chat Room</title>
    <link rel="icon" type="image/png" href="/images/fox_icon.png">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/chatroomstyle.css">
    <script type="text/javascript" src="/javascripts/js/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .starting-chat:hover{
            background: #eee;
        }
    </style>
</head>
<body>

<div class="container app">
    <div class="row app-one col-md-9">
        <div class="col-sm-4 side">
            <div class="side-one">
                <div class="row heading" style="height: 100px; padding: 0px;">
                    <div class="heading-avatar">
                        <div class="row sideBar-body" style="border-bottom: 0px !important;height: 100% !important;">
                            <div class="col-sm-6 col-xs-6 sideBar-avatar">
                                <div class="avatar-icon">
                                    <img src="<%= user.picture%>" class="img-thumbnail" style="    height: 100%; width: 60%;">
                                </div>
                            </div>
                            <div class="col-sm-6 col-xs-6 sideBar-main" style="margin-left: -20px;">
                                <div class="row">
                                    <div class="col-sm-8 col-xs-8 sideBar-name">
											<span class="name-meta">
												<b><%= user.username%></b>
											</span><br>
                                        <span class="job-meta">Devloper</span>
                                        <div class="status">
                                            <i class="fa fa-circle online"></i> online
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row searchBox">
                    <div class="col-sm-12 searchBox-inner">
                        <div class="form-group has-feedback">
                            <input id="searchText" type="text" class="form-control" name="searchText" placeholder="Search">
                            <span class="fa fa-search form-control-feedback" style="padding-top: 9px;"></span>
                        </div>
                    </div>
                </div>

                <div class="row sideBar">
                    <div class="separator" id="history-user" style="color: #4b646f;background: #eee;text-align: center; text-transform: uppercase; height: 20px;">User</div>
                    <div class="row sideBar-body">
                        <div class="col-sm-3 col-xs-3 sideBar-avatar">
                            <div class="avatar-icon">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-9 sideBar-main">
                            <div class="row">
                                <div class="col-sm-8 col-xs-8 sideBar-name">
										<span class="name-meta">John Doe
										</span>
                                    <div class="status">
                                        <i class="fa fa-circle online"></i> online
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row sideBar-body">

                        <div class="col-sm-3 col-xs-3 sideBar-avatar">
                            <div class="avatar-icon">
                                <img src="https://bootdey.com/img/Content/avatar/avatar1.png">
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-9 sideBar-main">
                            <div class="row">
                                <div class="col-sm-8 col-xs-8 sideBar-name">
										<span class="name-meta">John Doe
										</span>
                                    <div class="status">
                                        <i class="fa fa-circle offline"></i> offline
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="separator" id="history-group" style="color: #4b646f;background: #eee;text-align: center; text-transform: uppercase; height: 20px;">Group</div>
                </div>
            </div>
        </div>

        <div class="col-sm-8 conversation">
            <div class="row heading" style="height: 100px; padding: 0px;">
                <!--<div class="col-sm-2 col-md-4 col-xs-6 heading-avatar" style="display: none">-->
                    <!--<div class="heading-avatar-icon" style="height: 50%;  padding-left: 38%; padding-top: 10px;">-->
                        <!--<img src="https://bootdey.com/img/Content/avatar/avatar6.png">-->
                    <!--</div>-->
                    <!--<div class="heading-name" style="height: 50%; padding-left: 26% !important; padding-top: 10px !important;">-->
                        <!--<a class="heading-name-meta">John Doe-->
                        <!--</a>-->
                        <!--<span class="heading-online">Online</span>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="col-md-12" style="padding: 0px;" id="notice-show">

                </div>
            </div>

            <div class="row message" id="conversation">
                <!--<div class="row message-previous">-->
                    <!--<div class="col-sm-12 previous">-->
                        <!--<a onclick="previous(this)" id="ankitjain28" name="20">-->
                            <!--Show Previous Message!-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="row message-body">-->
                    <!--<div class="col-sm-12 message-main-receiver">-->
                        <!--<div class="receiver">-->
                            <!--<div class="message-text">-->
                                <!--Hi, what are you doing?!-->
                            <!--</div>-->
                            <!--<span class="message-time pull-right">-->
									<!--Sun-->
								<!--</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->

                <!--<div class="row message-body">-->
                    <!--<div class="col-sm-12 message-main-sender">-->
                        <!--<div class="sender">-->
                            <!--<div class="message-text">-->
                                <!--I am doing nothing man!-->
                            <!--</div>-->
                            <!--<span class="message-time pull-right">-->
									<!--Sun-->
								<!--</span>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>

            <div class="row reply key-messages" style="display: none">
                <div class="col-sm-1 col-xs-1 reply-emojis">
                    <i class="fa fa-smile-o fa-2x"></i>
                </div>
                <div class="col-sm-9 col-xs-9 reply-main">
                    <textarea class="form-control" rows="1" id="comment"></textarea>
                </div>
                <div class="col-sm-1 col-xs-1 reply-recording">
                    <i class="fa fa-microphone fa-2x" aria-hidden="true"></i>
                </div>
                <div class="col-sm-1 col-xs-1 reply-send">
                    <i class="fa fa-send fa-2x" aria-hidden="true"></i>
                </div>
            </div>
            <input class="hidden" id="room_chat_id"/>
        </div>
    </div>
    <div class="row col-md-3 user-online">
        <div class="tabbable-panel">
            <div class="tabbable-line">
                <ul class="nav nav-tabs " style="background-color: #eee; height: 60px; text-align: center;">
                    <li class="active" style="width: 49%; height: 100%;">
                        <a href="#tab_default_1" data-toggle="tab" style="height: 100%;"><i class="fa fa-users" aria-hidden="true"></i>

                            Users </a>
                    </li>
                    <li style="width: 49%; height: 100%;">
                        <a href="#tab_default_2" data-toggle="tab" style="height: 100%;">
                            <i class="fa fa-steam-square" aria-hidden="true"></i>
                            Group </a>
                    </li>
                </ul>
                <div class="row composeBox">
                    <div class="col-sm-12 composeBox-inner">
                        <div class="form-group has-feedback">
                            <input id="composeText" type="text" class="form-control" name="searchText" placeholder="Search People">
                            <span class="fa fa-search form-control-feedback" style="padding-top: 9px;"></span>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_default_1">


                    </div>
                    <div class="tab-pane" id="tab_default_2" style="padding: 0 10px;">

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="user_id" value="<%= user._id%>">
<input type="hidden" id="type_chat" value="1">
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/chatroom/chatroom.js"></script>
<script src="/javascripts/js/common.js"></script>
<script type="text/javascript">
    $(function(){
        $(".heading-compose").click(function() {
            $(".side-two").css({
                "left": "0"
            });
        });

        $(".newMessage-back").click(function() {
            $(".side-two").css({
                "left": "-100%"
            });
        });
        var username = $("#username_chatroom").val();
        chatroom.chat(username);
    })
</script>
</body>
</html>