<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6 lt8"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7 lt8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8 lt8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
    <title>Rooms</title>
    <link rel="icon" type="image/png" href="/images/fox_icon.png">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/toastr.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/js/jquery.min.js" type="text/javascript"></script>
    <script src="/javascripts/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/javascripts/js/jquery.validate.min.js"></script>
    <script src="/javascripts/js/toastr.min.js"></script>
    <style type="text/css">
        .error{
            color: red !important;
        }
        input[class*="error"] {
            border: 2px solid red !important;
        }
        td{
            text-align: center;
        }
        th{
            text-align: center;
        }
        tr:hover {
            color: #666666;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SH Chat</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/chatroom">Chat</a></li>

            </ul>
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" data-toggle="modal" data-target="#myModal">Create room</a></li>
                <li><a href="#"><%= username %></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container" style="padding:60px 150px;">
    <div class="row text-center" style="color: white;">
        <h1 style="font-size: 50px;"> Rooms </h1>
    </div>

    <div class="row" style="color: white; padding-top: 20px;">
        <% if (rooms.length >0) {%>
        <table class="table table-hover" id="table_room">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% rooms.forEach(x=> {%>
                    <tr>
                        <td><%=x._id%></td>
                        <td><%=x.title%></td>
                        <td><%=x.description%></td>
                        <td><a class="btn btn-warning" data-id="<%x._id%>" data-action="hide-room">Hide</a></td>
                        <td><a class="btn btn-primary" data-id="<%x._id%>" data-acion="update-room">Update</a></td>
                    </tr>
                <%})%>
            </tbody>
        </table>
        <%} else {%>
            <h1 style="font-size: 30px">No Records.</h1>
        <%}%>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create new room</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="control-label col-md-4" for="title_room">Title Room</label>
                            <div class="col-md-8">
                                <input class="form-control" id="title_room" placeholder="Title"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4" for="description_room">Description Room</label>
                            <div class="col-md-8">
                                <textarea class="form-control" id="description_room" placeholder="Description"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="close_from">Close</button>
                    <a class="btn btn-success" id="create_room" href="javascript:void(0)">Create Room</a>
                </div>
            </div>
        </div>
    </div>


    <script src="/javascripts/js/common.js"></script>
    <script src="/javascripts/rooms/roomsocket.js"></script>
    <script type="text/javascript">
        $(document).ready(() => {
            rooms();
        })
    </script>
</div>
</body>
</html>